@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Home Page";
}

<div ng-app="WaterCounterApp" ng-view>
    
</div>

@section scripts {
    @Scripts.Render("~/bundles/angularjs")

    <script src="~/Scripts/app/waterCounterApp.js"></script>
    <script src="~/Scripts/app/waterCounterService.js"></script>
    <script src="~/Scripts/app/homesListController.js"></script>
    <script src="~/Scripts/app/homeEditController.js"></script>
}
