<h1>List of homes</h1>

<button class="btn btn-success">Add new home</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Index</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="home in homes">
            <td>{{home.homeId}}</td>
            <td>{{home.address}}</td>
            <td>
                <button class="btn btn-warning" ng-click="edit(home)">Edit</button>
                <button class="btn btn-danger" ng-click="delete(home)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<script type="text/ng-template" id="deleteDialog">
    <h3>Delete?</h3>
    <p></p>
    <button class="btn btn-danger" ng-click="confirm()">Ok</button>
    <button class="btn" ng-click="closeThisDialog()">Cancel</button>
</script>